body{
    font-family:  'Lucida Sans Unicode';
}
.box{
    border: 1px solid black;
    padding: 2%;
}
.titulo{
    border-bottom: 1px solid rgb(82, 204, 82);
}

h1{
    text-align: center;
    letter-spacing:3px;
}
h2{
    color: rgb(82, 204, 82);
    margin-bottom: 0px;
}
h3{
    color:chocolate;
}