body {
  font-family: "Lucida Sans Unicode";
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
}
.box {
  border: 1px solid rgb(86, 86, 86);
  padding: 2%;
  background: linear-gradient(to top, rgb(238, 234, 234), white);
  box-shadow: 1px 1px 7px 0px rgba(3,0,3,0.54);
}
.titulo {
  border-bottom: 1px solid forestgreen;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
}
h2 {
  color: forestgreen;
  margin-bottom: 0px;
}
h3 {
  color: chocolate;
  
}
.container {
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
}
.list {
  padding-right: 5%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none; /* eliminar el subrayado */
  background-color: #cbe783;
 
  width: 150px; /* establecer el ancho del enlace en 150 píxeles */
  height: 50px;
  display: inline-block; /* establecer el elemento como bloque en línea */
  text-align: center; /* centrar el texto del enlace */
  margin-bottom: 2px;
  text-align: center;
  line-height: 50px;
  color: darkslategrey;
  background: linear-gradient(to bottom, #cbe783, white);
  box-shadow: inset 1px 1px 7px 0px #cbe783;
}

a:hover {
  border: #d3d3d3 1px solid;
  box-shadow: inset 1px 1px 7px 0px #e5cdb2;
  background: linear-gradient(to bottom, #e5cdb2, white);
}

.imagen{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  border-radius: 15px;
}
